
.vs/python-sdk/v16/.suo
*.sqlite
.vs/PythonSettings.json
.vs/VSWorkspaceState.json

*.pyc
.idea/

sdk/diffgram/__pycache__/

sdk/diffgram/brain/__pycache__/

sdk/diffgram/convert/__pycache__/

sdk/diffgram/core/__pycache__/

sdk/diffgram/export/__pycache__/

sdk/diffgram/file/__pycache__/

sdk/diffgram/job/__pycache__/

sdk/diffgram/label/__pycache__/

sdk/diffgram/regular/__pycache__/

sdk/diffgram/task/__pycache__/

sdk/diffgram/utils/__pycache__/

venv/*

diffgram.egg-info

playground.py

sdk/build/*
sdk/dist/